
.qavtasi{
  display: flex;
  background-color: #f2f2f2;
  justify-content: space-evenly;
  font-size: 25px;
  color: green;
  align-items: center;
  
}

.ena{
  height: 57px;
  width: 80px;
  
}

.zevit{
  background-color: green;
  height: 30px;
  display: flex;
  justify-content: end;
}
.nom{
  margin: 0;
  color: white;
}
 
.mtavari{
  display: flex;
  justify-content: center;
  width: min-content;
  margin-top: 25px;
  gap: 20px;
}

.mt{
  display: flex;
  justify-content: center;
}

.shek2{
  height: 324px;
  width: 403px;
}

.mtavari2{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  gap: 95px;
  color: green;
  font-size: 29px;
  text-align: center;
}
.zz{
  margin: 0;
}
  
  

  